@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('../public/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}